{% extends "base.html" %}

{% block main %}
  <div class="container my-4">
    <h1 class="text-center mb-4">Product Catalog</h1>
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{ product.price }} <i class="fa-solid fa-coins"></i></h6>
                    <a href="{% url 'store:detail' product.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info text-center" role="alert">
                <h4 class="alert-heading">No Products Available</h4>
                <p>We're sorry, but there are currently no products available in our store.</p>
                <hr>
                <p class="mb-0">Please check back later for new and exciting products!</p>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
