{% extends "base.html" %}

{% block head %}
  <script>
    $(function() {
      $(".change-text").each((_, el) => {
        $(el).on("click", function() {
          $.post(
            "{% url 'store:buy' %}",
            {
              product_id: $(this).attr("id"),
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            () => {
              $(this).text("Purchased!");
              $(this).attr("disabled", true);
              const money = $("#money");
              const currentMoney = parseInt(money.text());
              const price = parseInt($(this).parent().find(".price").text());
              console.log(price);
              money.text(currentMoney - price);
            }
          )
        })
      });
    });
  </script>
{% endblock %}

{% block main %}
  <div class="container my-4">
    <h1 class="text-center mb-4">Product Catalog</h1>
    <div class="text-center mb-4">You have <span id="money">{{ credits.money }}</span><i class="fa-solid fa-coins"></i></div>
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    <h6 class="card-subtitle mb-2 text-muted price">{{ product.price }} <i class="fa-solid fa-coins"></i></h6>
                    <a href="{% url 'store:detail' product.id %}" class="btn btn-primary">View Details</a>
                    {% if credits.money >= product.price %}
                        <button id="{{ product.id }}" class="btn btn-primary change-text">Buy</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info text-center" role="alert">
                <h4 class="alert-heading">No Products Available</h4>
                <p>We're sorry, but there are currently no products available in our store.</p>
                <hr>
                <p class="mb-0">Please check back later for new and exciting products!</p>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
