<script>
    function copyToClipboard() {
        const quizCode = $("#quiz-code").html();
        navigator.clipboard.writeText(quizCode).catch(error => {
            console.error("Failed to copy quiz code: ", error);
        });
    }
</script>
<div style="border: 2px solid #ddd; padding: 20px; margin-bottom: 30px; text-align: center; border-radius: 10px;">
    <p><strong>Quiz Code: <span id="quiz-code">{{ quiz.join_code }}</span></strong></p>
    <button onclick="copyToClipboard()" class="btn btn-info" style="margin-top: 10px;">Copy to Clipboard</button>
</div>

